
.icon-home:before { content: '\e800'; } /* '' */
.icon-book-alt:before { content: '\e801'; } /* '' */
.icon-credit-card:before { content: '\e802'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */