
.icon-home:before { content: '\e800'; } /* '' */
.icon-book-alt:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-cog-1:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */