
.icon-home:before { content: '\e800'; } /* '' */
.icon-book-alt:before { content: '\e801'; } /* '' */
.icon-credit-card:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */