<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="../font/fontello-0e14f9ed/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-e16785dd/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-7d2ccad6/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-3577ac03/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-a9e04da2/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-4ecd1bb6/css/fontello.css">
    <title>Mis Cursos</title>
</head>
<!--++++++++++++++++++++Navbar+++++++++++++++++++++++++++++++-->

<body>
    <div class="main-navbar">
        <i class="fa fa-plane icon-paper-plane-empty i-nav"></i>
        <div class="main-navbar__head-one" id="up">
            <div class="main-navbar__head-one__one">
                <input type="text" placeholder="Busca estudiantes, padres o maestros aqui..">
                <i class="fa fa-find icon-search i-head-one"></i>
            </div>
        </div>
        <div class="main-navbar__head-two" id="up">
            <div class="main-navbar__head-one__one" >
                <table>
                    <tr>
                        <th>
                            <i class="fa fa-bell icon-bell-alt table__i-one"></i>
                        </th>
                        <th>
                            <i class="fa fa-user icon-user table__i"></i>
                        </th>
                        <th>
                            <p class="table__p">Iris Lucrecia <br>Supervisor</p>
                        </th>
                        <th>
                            <i class="fa fa-gear icon-cog table__i-one"></i>
                            <i class="fa fa-down-dir icon-down-dir table__i-one"></i>
                        </th>
                    </tr>   
                </table>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="cont-left">

        </div>
        <div class="cont-center">

        </div>
    </div>
</body>

</html>