<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="../font/fontello-0e14f9ed/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-e16785dd/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-7d2ccad6/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-3577ac03/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-a9e04da2/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-4ecd1bb6/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-3ccba400/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-d9c91697/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-6d5a105c/css/fontello.css">
    <title>Mis Cursos</title>
</head>
<!--++++++++++++++++++++Navbar+++++++++++++++++++++++++++++++-->

<body>
    <div class="cont-up" id="rojo">
        <div class="main-navbar">
            <i class="fa fa-plane icon-paper-plane-empty i-nav"></i>
            <div class="main-navbar__head-one" id="up">
                <input type="text" placeholder="Busca estudiantes, padres o maestros aqui..">
                <i class="fa fa-find icon-search head-two__i-one"></i>
            </div>
            <div class="main-navbar__head-two" id="up">
                <div class="main-navbar__head-one__one">
                    <i class="fa fa-bell icon-bell-alt head-two__i-one"></i>
                    <i class="fa fa-user icon-user head-two__i"></i>
                    <label class="head-two__p">Iris Lucrecia Supervisor</label>
                    <i class="fa fa-cog icon-cog head-two__i-one"></i>
                    <i class="fa fa-down-dir icon-down-dir head-two__i-one"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-left" id="rojo">
        <i class="fa fa-home icon-home i-nav-left"></i>
        <i class="fa fa-book icon-book i-nav-left"></i>
    </div>
    <div class="body__cont-center" id="up">
        <div class="body__cont-center__one" id="azul">
            <i class="fa fa-book icon-book i-nav-left"></i>
            <label class="label-titulos">Mis Cursos</label>
        </div>
        <div class="body__cont-center__two" id="verde">
            <div class="body__cont-center__two__subs">
                <p>Mis Cursos(500)</p>
            </div>
            <div class="body__cont-center__two__subs">
                <p>Supervisados(500)</p>
            </div>
            <div class="body__cont-center__two__subs">
                <p>Todos(500)</p>
            </div>
        </div>
    </div>
    <div class="body__cont-center__three" id="azul">
        <div class=" card" id="verde">
            <p>asdasdasdasd</p>
        </div>
        <div class="card" id="blanco">
            <p>asdasdasdasd</p>
        </div>
        <div class="card" id="blanco">
            <p>asdasdasdasd</p>
        </div>
        <div class="card" id="blanco">
            <p>asdasdasdasd</p>
        </div>
    </div>
</body>

</html>